@charset "UTF-8";

body {
	background-color: skyblue;
}

div {
	border-radius: 50%;
	display : inline-block;
	width: 200px;
	height: 200px;
	margin-right : 30px;
	display: inline-block;
}

.div1 {
	background: green;
}

.div2 {
	background: yellow;
}

.div3 {
	background: red;
}