@charset "UTF-8";

body {
	margin : 20px auto;
	width: 800px;
}

.sqbullet{
	list-style-type: square;
}

.nobullet{
	list-style-type: none;
}

.book1{
	list-style-type: lower-alpha;
}

.book2{
	list-style-type: upper-roman;
}

.image {
      list-style-image:url('images/dot.png');
    }

.inside{
	list-style-position: inside;
}
ul {
      list-style-image:url('images/dot.png');
 }
