@charset "UTF-8";
body{
	margin : 20px auto;
	width : 600px;
}

h1{
	font-size:3em;
}
p{
	font-size: 1em;
	font-style: italic;
}
p.txt{
	font-style:normal;
}
p.txt2{
	font-style: italic 12px/24px 돋움;
}
.accent{
	font-variant: small-caps;
	font-weight: bold;
}