@charset "UTF-8";

.container {
	width: 500px;
	padding: 10px;
	border: 1px solid #ccc;
}

.subject {
	font-weight: 700;
	font-size: larger;
	color: #ad3000;
	line-height: 2;
}
ul{
	list-style-type: none;
}