@charset "UTF-8";

body {
	margin: 20px auto;
	width: 800px;
}

p{
	border : 1px solid orange;
}

.align-left {
	text-align: left;
}

.align-right {
	text-align: right;
}

.align-center {
	text-align: center;
}

.align-justify {
	text-align: justify;
}

.indent1{
	text-indent: 15px;
}
.indent2{
	text-indent: 5%;
}

.small-line{
	line-height: 0.7;
}

.big-line{
	line-height: 2;
}

.content{
	border: 1px solid #ccc;
	width:300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.content:hover{
	overflow: visible;
}

.minute{
	font-size: 20px;
	line-height: 30px;
	text-align: center;
}