@charset "UTF-8";

div{
	background-color: #0094ff;
	display: inline-block;
	width: 250px;
	padding : 20px;
	border : 8px dotted black;
	margin-right: 20px;
}

.bg1{
	background-clip: border-box;
}
.bg2{
	background-clip: padding-box;
}
.bg3{
	background-clip: content-box;
}